body {
    padding-bottom: 40px;
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px){
    .container {
        width: 970px;
    }
}

.btn, .modal-content {
    border-radius: 0;
}