<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>
<rewrite>
<rule name="rule 1n" stopProcessing="true">
	<match url=".*"  />
	<action type="Rewrite" url="/index.php/{R:0}"  />
</rule>
</rewrite>

</configuration>